<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/pages.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<form class="form">
    <input id="message" type="text" placeholder="请输入发送的消息" class="message"/>
    <input id="send" type="button" value="发送" class="send"/>
    <input id="connect" type="button" value="连接" class="open"/>
    <input id="close" type="button" value="关闭" class="close"/>
</form>

<div class="info"></div>

<table width="90%" class="tb01" cellspacing="0" cellpadding="0" border="0">

    <tr id="order_menu">
        <th width="54">角色</th>
        <th>门派</th>
        <th>等级</th>
        <th>攻修</th>
        <th>防修</th>
        <th>法修</th>
        <th>抗法</th>
        <th>攻击控制</th>
        <th>防御控制</th>
        <th>法术控制</th>
        <th>法抗控制</th>
        <th>亮点</th>
        <th>价格</th>
        <th>服务器</th>
        <th>出售剩余时间</th>
    </tr>
    <tr>
        <td>
            <img src="http://res.xyq.cbg.163.com/images/role_icon/small/6.gif" width="50" height="50"/>
        </td>
        <td>阴曹地府</td>
        <td>69</td>
        <td>9/20</td>
        <td>9/20</td>
        <td>6/20</td>
        <td>9/20</td>
        <td>9</td>
        <td>0</td>
        <td>3</td>
        <td>0</td>
        <td></td>
        <td><span class="p10000">￥8888.00</span>
        </td>
        <td>山东4区-大明湖</td>
        <td>13天23小时54分钟</td>
    </tr>
</table>
</body>
</html>